@charset "UTF-8";
@import 'mixin';

// コラム詳細用
.is-column.detail {
  background-color: #fff;

  .headline__title {
    line-height: 1.3;
  }

  .column {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .column__thumbnail {
    width: 100%;
  }

  // 詳細用カテゴリ※作り違う為
  .column__category ul {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }

  .column__category a {
    border: 1px solid #0057A6;
    background-color: #fff;
    width: fit-content;
    padding: 5px;
    line-height: 1;
    display: inline-block;
    font-size: 1.2rem;
    color: #0057A6;
  }
}

// コラム本文エリア
.column-contents {

  // コラム共通文言
  .common-texts {
    background-color: #E6EFF7;
    padding: 5px 30px 30px 32px;
    font-weight: bold;
  }
}

// WP edit(コラム)、固定ページ、news共通ここから
// 20250428 baページのデザインに合わせる
.column-contents,
.static-contents {

  // 記事p基準サイズ
  font-size: 1.8rem;
  font-feature-settings: "palt";

  p {
    margin-inline: auto;
    font-size: 1.8rem;
  }


  h2 {
    font-weight: bold;
    margin-top: 80px;
    font-size: 2.8rem !important; //editに何か入ってる？
    line-height: 1.4;
    width: 100%;
    // border-left: 8px solid #0057A6;
    padding: 8px 15px;
    text-align: center;
  }

  h3 {
    font-weight: bold;
    margin-top: 60px;
    font-size: 2.4rem;
    // border-left: 4px solid #0057A6;
    border-bottom: 2px solid #0057A6;
    // padding-left: 15px;
    text-align: left;
  }

  h4 {
    font-weight: bold;
    margin-top: 40px;
    font-size: 2rem;
    background-color: #E6EFF7;
    padding: 4px 4px 4px 12px;
  }

  h5 {
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 30px;
    background-color: #E6EFF7;
    padding: 4px 4px 4px 12px;
  }

  h6 {
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 20px;
    background-color: #E6EFF7;
    padding: 4px 4px 4px 12px;
  }

  p+p,
  .lead {
    margin-top: 20px;
  }

  strong,
  .emphasis {
    font-weight: bold;
  }

  strong {
    background: linear-gradient(transparent 60%, rgba(255, 255, 0, 0.5) 0%);
  }

  .notes {
    font-size: 12px;
  }

  // 赤字
  .caution {
    color: #E50012;
  }

  // merit等
  .bk-blue {
    background-color: #E6EFF7;
  }

  // demerit等
  .bk-red {
    background-color: #ffe4e6;
  }

  b {
    background: none;
  }

  em {}

  del {}

  ul,
  ol {
    margin-top: 30px;
  }

  ul li::before {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #E6EFF7;
    border-radius: 50%;
  }

  ol {
    counter-reset: number;
  }

  ol li {
    position: relative;
    padding: 1px 0 1px 30px;
  }

  ol li::before {
    position: absolute;
    counter-increment: number;
    content: counter(number);
    display: inline-block;
    background: #E6EFF7;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    left: 0;
    width: 25px;
    height: 25px;
    text-align: center;

  }

  ol ul li::before {
    content: none;
  }

  blockquote {
    position: relative;
    border-left: 3px solid #0057A6;
    padding-left: 10px;
    margin-top: 10px;
  }

  blockquote:before {
    position: absolute;
    content: '"';
    font-size: 3rem;
    color: #0057A6;
    line-height: 1;
  }

  blockquote p {
    position: relative;
    padding-left: 20px;
  }

  blockquote cite {
    display: block;
    font-size: 1.2rem;
    margin-top: 5px;
  }

  address {}

  a {
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  em {
    font-family: oblique;
  }

  ins {}

  img {}

  pre {}

  dl {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    border-bottom: none;
  }

  dt {
    text-align: left;
    background-color: #E6EFF7;
    padding: 20px;
    width: 50%;
    border-bottom: 1px solid #fff;
  }

  dd {
    background-color: #fff;
    padding: 20px;
    width: 50%;
    border-bottom: 1px solid #D9D9D9;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 20px;
  }

  th:last-of-type,
  td:last-of-type {
    border-right: none;
  }

  th {
    text-align: left;
    font-weight: normal;
    background-color: #E6EFF7;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    @include sp {
      width: 38%;
    }

    h3 {
      margin-top: 0;
      text-align: center;
      font-weight: normal;
    }
  }

  td {
    border-bottom: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
  }

  .iframe {
    margin-top: 40px;
    width: 100%;
  }

  section+section {
    margin-top: 60px;
  }

  &:not(.notFound) {
    p {
      margin-top: 20px;
    }
  }
}



// 固定ページのみ
.static-contents {

  h2,
  h3 {
    // text-align: center;
    font-weight: normal;

  }

  h2 {
    line-height: 1.4;
    margin-top: 40px;
  }

  h3 {
    margin-top: 0;
  }

  .emphasis {
    color: #E50012;
  }

  h2+p {
    margin-top: 10px;
  }

  p {
    font-size: 1.5rem;
  }
}


// 固定ページcompany専用
.static-contents.company {
  section {
    margin-top: 20px;
  }

  figure {
    max-width: 200px;
    margin-inline: auto;

    @include pc {
      margin-left: 20px;
    }
  }

  table {
    margin-top: 30px;
  }

  @include sp {
    .flex {
      flex-direction: column;
    }
  }

  h2+div {
    margin-top: 10px;
  }
}


// 固定ページabout専用
.static-contents.about {
  ul.flex {
    gap: 20px;
    margin-top: 20px;

    @include sp {
      flex-direction: column;
    }

    li::before {
      content: none;
    }
  }

  table {
    margin-top: 40px;
  }

  .flex {
    @include sp {
      flex-direction: column;
    }
  }

  .flex:has(.purchase, .mediation) {
    justify-content: center;
    gap: 40px;

    @include sp {
      gap: 20px;

    }
  }

  .purchase,
  .mediation {
    background-color: #E6EFF7;
    min-width: 404px;
    margin-top: 10px;
    padding-bottom: 20px;

    section {
      padding: 10px;
      background-color: #fff;
      margin-inline: 10px;
      border-radius: 3px;
      margin-top: 20px;
    }

    .img {
      max-width: 220px;
    }

    li {
      font-size: 1.8rem;


    }

    h3 {
      background-color: #0057A6;
      color: #fff;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-top: 0;
    }
  }

  h2+div {
    margin-top: 10px;
  }
}

// 固定ページinherit(相続)専用
.static-contents.inherit {
  .flex {
    @include pc {
      flex-wrap: wrap;
    }

    @include sp {
      flex-direction: column;
    }
  }

  ul {
    gap: 20px;

    li {
      @include pc {
        max-width: 48%;
      }

      &::before {
        content: none;
      }
    }

    &+p {
      margin-top: 10px;
    }
  }

  ol {
    width: fit-content;
    margin-inline: auto;

    li {
      display: flex;
      align-items: center;
      position: relative;
      padding-top: 20px;

      &::before {
        content: none;
      }

      &::after {
        position: absolute;
        margin-inline: auto;
        content: "";
        vertical-align: middle;
        width: 18px;
        height: 18px;
        border-top: 2px solid #0057A6;
        border-right: 2px solid #0057A6;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%) rotate(135deg);
      }

      .img {
        max-width: 120px;
      }

      p {
        font-size: 1.6rem;
      }
    }
  }

  picture {
    display: block;
    margin-inline: auto;

    @include pc {
      max-width: 800px;
    }
  }

  p {
    width: fit-content;
  }
}

// 404ページ用
.notFound {
  &__titti {
    max-width: 100px;
    margin-inline: auto;
  }

  &__text {}

  &-search form {
    display: flex;
    justify-content: space-between;
  }

  &-search input[type="text"] {
    border: 1px solid #D9D9D9;
    width: 74%;
  }

  &-search button {
    width: 24%;
  }

  .column-list,
  .column-item {
    margin-top: 20px;
  }


  // 最新コラム一覧
  .in-column-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  @include sp {
    flex-direction: column;
  }

  .in-column-item {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 20px;
    position: relative;

    @include pc {
      width: 48%;
    }

    &::after {
      position: absolute;
      margin: auto;
      content: "";
      vertical-align: middle;
      width: 11px;
      height: 11px;
      border-top: 2px solid #0057A6;
      border-right: 2px solid #0057A6;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      right: 15px;
    }

    a {
      text-decoration: none;
    }

    .column__title {
      color: #0057A6;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 1.4;
      margin-top: 0;
    }
  }

  .column__thumbnail {
    max-width: 100px;
    margin-right: 15px;
  }

  .column-texts {
    margin-top: 15px;
  }


  // カテゴリ
  .column__category {
    border: 1px solid #0057A6;
    background-color: #fff;
    width: fit-content;
    padding: 5px;
    line-height: 1;
    display: inline-block;
    font-size: 1.2rem;
    color: #0057A6;

    a {
      color: #0057A6;
    }
  }

  .column__category+.column__category {
    margin-left: 10px;
  }

  .column-headline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__thumbnail {
    max-width: 50%;
  }

  .column__text {
    margin-top: 0;
    font-size: 1.4rem;
  }

  .more-link {
    text-decoration: none;
  }
}

// 約款用
.is-column.detail.tac {

  @include pc {
    .row.w1000 {
      max-width: 760px;
    }
  }

  .column-contents h2 {
    font-size: 2.2rem;
  }

  .column-contents p {
    font-size: 1.4rem;
  }
}

// before after .static-contents(固定ページ)
.before-after {

  // 固定用のbody.classが当たらない
  >.image-compare-wrap {
    margin-top: 80px;
  }

  .image-compare {
    @include pc {
      max-width: 800px;
      max-height: fit-content;
    }

    margin-inline: auto;

    &.vertical {
      max-width: 500px;
      margin-inline: auto;
    }
  }

  .image-compare-wrap+.image-compare-wrap {
    padding-top: 100px;
  }

  .image-compare+.image-compare {
    margin-top: 40px;
  }

  // 2つずつ横並び
  .abreast {
    @include pc {
      display: flex;
      gap: 40px;
      align-items: flex-end;
    }
  }


  // 20250428 要素、レイアウト等変更
  .ba__title {}

  .example {

    @include sp {
      display: flex;
      flex-direction: column-reverse;
    }

    margin-top: 30px;

    @include pc {
      display: flex;
      gap: 30px;
      align-items: flex-end;
    }

    &-mainImgs {
      @include pc {
        max-width: 55%;
      }
    }

    &-texts {
      @include pc {
        max-width: 45%;
      }

      @include sp {
        margin-top: 30px;
      }

      // イレギュラー
      .example-mainImgs {
        max-width: 100%;
      }
    }

    &__mainImg+.example__mainImg {
      margin-top: 15px;
    }

    &__title {
      span {
        font-size: 50%;
        padding-left: 10px;
        letter-spacing: 1px;
      }
    }

    &-subImgs {
      margin-top: 30px;
      display: flex;
      gap: 15px;
    }


    &-subImgs.multiline {
      flex-wrap: wrap;

      .example__subImg {
        max-width: 30%;
      }
    }

    &:nth-of-type(even) {
      @include pc {
        flex-direction: row-reverse;
      }


    }

    &+.example {
      margin-top: 60px;

      @include sp {
        margin-top: 100px;
      }
    }
  }

  // .swiper-button-next,
  // .swiper-button-prev {
  //   z-index: 10;
  // }



  // .before-after
}

// スライド設置の為はみ出し防止
.wrap:has(.before-after) {
  overflow-x: hidden;
  background-color: #fff;
}