@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'mixin';

@include pc {
  a:hover {
    // color: #000;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.3s;
  }

  .sp {
    display: none !important;
  }
}

@include sp {
  .pc {
    display: none !important;
  }
}

.flex {
  display: flex;
}

// 20250331 add
.flex.column {
  flex-direction: column;
}

.flex.evenly {
  justify-content: space-evenly;
}

.headline__title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 2.8rem;
}

// 大見出し直下のリード文用(下層でも使用)
.headline__lead {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 10px;
}


// 共通下層headline 見出し画像
.headline {}

.lower {}


/*============================
パンくず
============================*/
.breadcrumbs {


  ol {
    display: inline-block;
    line-height: 1;

    li {
      font-size: 1.2rem;
      display: inline-block;
      vertical-align: middle;

      &:after {
        content: '>';
        padding: 4px;
        display: inline-block;
      }

      &:last-of-type:after {
        content: '';
      }

      &:last-of-type a span {
        text-decoration: none;
      }

      a span {
        display: inline-block;
        vertical-align: middle;

        letter-spacing: 0.1em;
        white-space: nowrap;
      }
    }
  }
}


.to-top {
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  bottom: 10%;
  right: 1.5%;
  display: inline-block;
  width: 55px;
  height: 55px;
  border: 1px solid #0057A6;
  border-radius: 50%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);

  &::after {
    position: absolute;
    margin-inline: auto;
    content: "";
    vertical-align: middle;
    width: 11px;
    height: 11px;
    border-top: 1px solid #0057A6;
    border-right: 1px solid #0057A6;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  @include pc {
    &:hover {
      opacity: 0.7;
      transition: 0.3s;
    }
  }
}

// nav
/*__ header _______________________*/
.site-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @include pc {
    background-color: #fff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  }

  .masthead {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include pc {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    // add 20250317
    @include sp {
      .logo-wrap {
        background-color: #fff; //#0057A6
        padding: 10px 20px 10px 0;
        border-bottom-right-radius: 25px;
        position: relative;
        z-index: 1;
      }
    }

    .brand-logo {
      width: 100%;
      position: relative;
      z-index: 2;
      margin-left: 10px;
      display: flex;
      align-items: center;
    }

    // max-widthはfirefoxで表示されない
    .brand-logo__img {
      width: 40px;

      @include sp {
        max-width: 40px;
      }
    }

    .brand__title {
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1.6em;
      white-space: nowrap;
      margin-left: 5px;
    }
  }

  // 一旦ナシ
  // @include sp {
  //   .masthead.new {
  //     .brand__title {
  //       color: #fff;
  //     }
  //   }
  // }


}

.globalnav {

  &-list {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__item {
    word-break: auto-phrase;

    @include sp {
      width: 100%;
    }

    a {
      padding: 7px 14px 6px;
      display: inline-block;
      font-size: 1.4rem;
      line-height: 1.4;
      // color: #fff;

      @include sp {
        line-height: 1;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 100%;
        text-align: center;
        color: #000;
      }


    }

    &.contact {
      border-radius: 3px;

      @include pc {
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }

      @include sp {
        margin-bottom: 20px;
      }


    }
  }

  @include sp {
    /* メニューコンテナ全体のスタイル */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-list {
      flex-direction: column;
      margin-top: 80px;
    }

    &-inner {
      position: fixed;
      top: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: 0.3s;
      z-index: 1;
      overflow-y: auto;
    }
  }

  &__ribbon {
    position: fixed;
    z-index: 10;
    top: 53px;
    transition: 0.3s;

    @include pc {
      top: 51px;
    }

    right: 35px;
    width: 45px;
    transform: rotate(30deg);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
  }
}

// ハンバーガーメニュー
@include sp {
  .nav-button {
    display: block;
    position: fixed;
    cursor: pointer;
    z-index: 2;

    // 一旦戻す
    background-color: #fff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    border-bottom-left-radius: 25px;
    top: 0;
    right: 0;
  }

  .nav-bar {
    display: block;
    width: 26px;
    height: 1px;
    margin: 7px 0;
    background-color: #0057A6;
    transition: 0.3s;
  }

  // ハンバーガーメニューのアニメーション
  #nav-toggle:checked+.nav-button .nav-bar:nth-of-type(1) {
    transform: rotate(45deg) translate(6px, 2px);
  }

  #nav-toggle:checked+.nav-button .nav-bar:nth-of-type(2) {
    opacity: 0;
  }

  #nav-toggle:checked+.nav-button .nav-bar:nth-of-type(3) {
    transform: rotate(-45deg) translate(9px, -6px);
  }

  /* メニュートグルのスタイル */
  #nav-toggle {
    display: none;
  }

  /* メニュートグルがチェックされた場合のメニューの表示アニメーション */
  #nav-toggle:checked~.globalnav-inner {
    top: 0;
    height: fit-content;
  }

  #nav-toggle:checked~.globalnav__ribbon {
    opacity: 0;
  }


}

/*============================
#footer
============================*/
.site-footer {
  background-color: #fff;
}

.footer {
  margin-top: 120px;
  padding: 45px 0;
  position: relative;

  .info-wrap {
    margin-inline: auto;
    width: fit-content;

    @include pc {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: center;
      gap: 30px;
    }
  }

  &__titti {
    position: absolute;
    max-width: 77px;

    @include sp {
      top: 25px;
      left: calc(50% + 75px);
    }

    @include pc {
      top: 38px;
      left: calc(50% + 160px);
    }
  }

  &__text {
    font-size: 1.6rem;
  }

  &__number {
    font-size: 4.5rem;
    white-space: nowrap;
    color: #0057A6;
    font-weight: bold;

    font-family: "Noto Sans", sans-serif;
    line-height: 1;
    display: block;
    margin-top: 5px;

  }

  &__info {
    @include pc {
      text-align: right;
    }
  }

  &__copy {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 20px;
    display: block;
  }

  &-links {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 20px;
  }

  &__link a {
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-offset: 5px;
  }


  // for dev(wp-members)
  .login_status {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 50px;
  }

  // footer
}


// 各ページ共通見出し周り※topのみ個別css
.section-hero.lower {
  padding: 75px 24px 42px;
  background-color: #fff;

  .headline__title {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1;
    margin-top: 15px;
  }

  background-image: url(../img/common/headline-bk.webp);
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: 172px;
}


// 線ボタン(Secondary)、戻るボタン
.border-button,
.wpcf7-previous {
  position: relative;
  width: fit-content;
  text-align: center;
  display: block;
  border: 3px solid #0057A6;
  color: #0057A6;
  border-radius: 3px;
  font-weight: bold;
  background-color: #fff;
  font-size: 1.6rem;

  @include sp {
    font-size: 1.5rem;
  }

  line-height: 1;
  height: fit-content;
  padding: 18px 20px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);

  span {
    color: #0057A6;
  }

  &::after {
    position: absolute;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 11px;
    height: 11px;
    border-top: 2px solid #0057A6;
    border-right: 2px solid #0057A6;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 15px;
  }
}

// 塗りボタン(Primary)、送信ボタン
.solid-button,
input[type="submit"] {
  position: relative;
  width: fit-content;
  margin-inline: auto;
  text-align: center;
  display: block;

  background-color: #0057A6;
  color: #fff;
  font-size: 1.6rem;

  @include sp {
    font-size: 1.5rem;
  }

  line-height: 1;
  height: fit-content;
  padding: 21px 30px 21px 20px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  &::after {
    position: absolute;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 11px;
    height: 11px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 15px;
  }
}


// もっと見るリンク
.more-link {
  text-align: center;
  margin-inline: auto;
  display: block;
  // color: #0057A6;
  position: relative;
  max-width: 140px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  border-bottom: 1px solid #0057A6;
  margin-top: 20px;
  line-height: 1;

  &::after {
    position: absolute;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 11px;
    height: 11px;
    border-top: 2px solid #0057A6;
    border-right: 2px solid #0057A6;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 15px;
  }
}

// wpデフォのページャー(2種分)
.column,
.news,
.property,
.nearby {

  .navigation,
  .pagination {
    margin-top: 20px;
    width: 100%;
  }

  .nav-links,
  .pagination {
    text-align: center;
  }

  .screen-reader-text {
    display: none;
  }

  .navigation span,
  .navigation a,
  .pagination span,
  .pagination a {
    display: inline-block;
    line-height: 1;
    padding: 15px 20px;
  }

  .navigation a,
  .page-numbers.dots,
  .page-numbers {
    background-color: #fff;
  }

  .page-numbers.dots {
    color: #000;
  }

  .navigation span,
  .page-numbers.current {
    background-color: #0057A6;
    color: #fff;
  }

  @include sp {
    .pagination .page-numbers {
      display: none;
    }

    .pagination .prev,
    .pagination .next {
      display: inline-block;
      width: 45%;
    }
  }
}


// top, 各archive用一覧(詳細ページ以外)
body:not(.detail) {

  .column,
  .news {
    &-list {
      margin-top: 20px;

      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      @include sp {
        flex-direction: column;
      }
    }

    &-item {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      padding: 20px;
      position: relative;

      @include pc {
        width: 48%;
      }

      &::after {
        position: absolute;
        margin: auto;
        content: "";
        vertical-align: middle;
        width: 11px;
        height: 11px;
        border-top: 2px solid #0057A6;
        border-right: 2px solid #0057A6;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        right: 15px;
      }
    }

    &__thumbnail {
      max-width: 100px;
      margin-right: 15px;
    }

    &-texts {
      margin-top: 15px;
    }

    &__title {
      color: #0057A6;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 1.4;
    }

    // カテゴリ
    &__category {
      border: 1px solid #0057A6;
      background-color: #fff;
      width: fit-content;
      padding: 5px;
      line-height: 1;
      display: inline-block;
      font-size: 1.2rem;
      color: #0057A6;

      a {
        color: #0057A6;
      }
    }

    &__category+&__category {
      margin-left: 10px;
    }

    &-headline {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__date {
      font-size: 1.2rem;
    }
  }



  .property {
    &-list {
      display: flex;
      gap: 20px;
      margin-top: 20px;

      @include sp {
        flex-direction: column;
      }

      @include pc {
        flex-wrap: wrap;
      }
    }

    &-item {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 3px;

      .flex:has(.property__thumbnail) {
        margin-top: 15px;
      }

      @include pc {
        width: 48%;
      }
    }

    .category-wrap {
      display: flex;
      padding: 20px 20px 0;
    }

    &-item__inner {
      padding: 0 20px 50px;
      // nearbyのみ以下に
      //padding: 0 20px 20px;
    }

    &-check {
      background-color: #0057A6;
      color: #fff;
      position: relative;
      text-align: right;
      padding: 2px 10px;

      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        right: 24px;
        border: 10px solid transparent;
        border-top: 11px solid #0057A6;
      }
    }

    &__checkText {
      font-size: 1.2rem;
    }

    // fix 20250407
    &__category,
    .property-category a {
      border: 1px solid #0057A6;
      background-color: #fff;
      color: #0057A6;
      width: fit-content;
      padding: 5px;
      line-height: 1;
      display: inline-block;
      font-size: 1.2rem;
      height: fit-content;

      // add 20250407
      a {
        color: #0057A6;
      }
    }

    &__title {
      font-weight: bold;
      margin-top: 10px;
      line-height: 1.35;
    }

    &__thumbnail {
      width: 100%;
      padding-top: 10px;
    }

    &-overview {
      width: 100%;
      padding-top: 10px;

      .flex:has(.amount-wrap) {
        justify-content: flex-end;
        gap: 15px;

        @include pc {
          align-items: flex-end;
        }

        @include sp {
          flex-direction: column;
          align-items: center;
        }
      }
    }

    // 20250403 add
    .amount-wrap:not(.loan) {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    // ローン
    .amount-wrap.loan {
      span {
        font-size: 2rem;
      }
    }

    .amount__note {
      font-weight: bold;
    }

    &__amount {
      font-size: 1.2rem;
      border-bottom: 1px solid #D9D9D9;
      margin-bottom: 10px;

      span {
        color: #0057A6;
        font-weight: bold;
        font-size: 3.8rem;
        font-family: "Noto Sans", sans-serif;

        padding-right: 4px;
        line-height: 1;

        &.comming-soon {
          font-size: 2.5rem;
        }
      }
    }

    &__text,
    &__point {
      font-size: 1.2rem;
    }

    .solid-button {
      margin-top: 20px;
    }

    &-subscribe {
      text-align: center;
      margin-top: 30px;

      a {
        color: #0057A6;
        text-decoration: underline;
        text-underline-offset: 5px;
      }
    }
  }


  // 気になるボタン plugin
  .favorite_button {
    width: fit-content;
    margin-left: auto;
  }

  .simplefavorite-button {
    position: relative;
    width: 26px;
    height: 26px;
    border: 1px solid #D9D9D9;
    vertical-align: -5px;
    appearance: none;
    cursor: pointer;
  }

  .simplefavorite-button.active:before {
    position: absolute;
    top: 2px;
    left: 5px;
    transform: rotate(45deg);
    width: 14px;
    height: 14px;
    border-right: 4px solid #0057A6;
    border-bottom: 4px solid #0057A6;
    content: '';
  }

  // top, 各archive用一覧(詳細ページ以外)
}