@charset "UTF-8";
@use "mixin" as mixin;

.is-property {
  @include mixin.sp {
    .hero-numProperty,
    .brand-logo {
      display: none;
    }
  }
}

// 一覧ページのみ
.archive .property {
  &__img {
    img {
      aspect-ratio: auto;
      max-height: 130px;
    }

    // human用 n番目毎に絵変える
    &::after {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      z-index: 2;
    }

    // phpでランダム
    &.is-human-01::after {
      background-image: url(../img/property/human01.png);
      background-size: 24px;
      width: 24px;
      height: 68px;
      bottom: 17px;
      left: 20px;
    }
    &.is-human-02::after {
      background-image: url(../img/property/human02.png);
      background-size: 40px;
      width: 35px;
      height: 60px;
      bottom: 9px;
      left: 40px;
    }
    &.is-human-03::after {
      background-image: url(../img/property/human03.png);
      background-size: 24px;
      width: 24px;
      height: 68px;
      bottom: 17px;
      right: 20px;
    }
    &.is-human-04::after {
      background-image: url(../img/property/human04.png);
      background-size: 30px;
      width: 30px;
      height: 68px;
      bottom: 17px;
      right: 20px;
    }
    &.is-human-05::after {
      background-image: url(../img/property/human05.png);
      background-size: 34px;
      width: 34px;
      height: 74px;
      bottom: 17px;
      right: 20px;
    }
    &.is-human-06::after {
      background-image: url(../img/property/human06.png);
      background-size: 24px;
      width: 24px;
      height: 68px;
      bottom: 17px;
      right: 40px;
    }
    &.is-human-07::after {
      background-image: url(../img/property/human07.png);
      background-size: 24px;
      width: 24px;
      height: 68px;
      bottom: 17px;
      right: 20px;
    }
    &.is-human-08::after {
      background-image: url(../img/property/human08.png);
      background-size: 24px;
      width: 24px;
      height: 68px;
      bottom: 17px;
      left: 20px;
    }

    // 何も出さない設定
    &.is-human-none::after {
      display: none;
    }
  }
}

.section-property {
  padding-top: 30px;
  @include mixin.sp {
    padding-top: 60px;
  }
  padding-bottom: 30px;
}
.headline {
  .flex {
    align-items: center;
  }
  &__illust {
    max-width: 72px;
  }
  &__category {
    background-color: var(--primary-color);
    color: #fff;
    font-size: var(--medium-font);
    @include mixin.sp {
      font-size: var(--small-font);
    }
    width: fit-content;
    line-height: 1;
    padding: 4px 4px 6px;
    border-radius: var(--small-radius);

    &.new-house {
      background-color: #005fff;
    }
    &.used-house {
      background-color: #f15a24;
    }
    &.land {
      background-color: #1d9a39;
    }
    &.mansion {
      background-color: #ff9800;
    }
  }
  &__title {
    @include mixin.pc {
      margin-top: 30px;
    }
    font-weight: 600;
    font-size: var(--large-font);
    @include mixin.sp {
      font-size: var(--medium-font);
      padding-top: 10px;
    }
  }

  &__price {
    color: var(--primary-color);
    font-weight: bold;
    line-height: 1;
    font-size: var(--x-large-font);
    @include mixin.sp {
      font-size: var(--medium-font);
    }

    span {
      font-size: var(--large-font);
      @include mixin.sp {
        font-size: initial;
      }
    }
  }

  // 詳細用
  &__img {
    margin-top: 20px;
    img {
      @include mixin.pc {
        border-radius: var(--large-radius);
      }
      max-height: 495px;
      object-fit: cover;
    }
  }
}

.property {
  &__title {
    text-align: center;
    font-weight: bold;
  }
  .simplefavorite-button {
    margin-left: auto;
    font-size: 6rem;
    line-height: 1;
    color: #ff5b76;
    opacity: 1 !important;
    font-weight: bold;
    @include mixin.sp {
      font-size: var(--x-large-font);
    }
  }

  &-map {
    margin-top: 30px;
    iframe {
      margin-top: 20px;
    }
  }

  &__item {
    color: var(--secondary-color);
    display: inline;
    font-weight: bold;
    &::before {
      content: "・";
      color: #dbdbdb;
    }
  }

  &:has(.post-checker) .flex {
    gap: 0 !important;
    align-items: center;
  }

  // ~について問い合わせる
  .post-checker {
    width: 100%;
    max-width: 24px;
    height: 24px;
    appearance: none;
    background-color: #fff;
    border: solid 2px #dbdbdb;
    vertical-align: middle;
    &:checked {
      border-color: var(--primary-color);
      &::after {
        content: "●";
        color: var(--primary-color);
        margin-top: 0px;
        display: block;
        line-height: 1;
      }
    }

    & + label {
      line-height: 1.3;
      padding-top: 6px;
      padding-bottom: 7px;
    }
  }
}

.overview {
  margin-top: 40px;
  @include mixin.pc {
    gap: 40px;
  }
  @include mixin.sp {
    flex-direction: column;
    display: block;
    margin-bottom: 40px;
  }
  &-texts-wrap,
  &-comments {
    flex: 1;
  }
  &-texts-wrap {
    background-color: rgba(69, 142, 233, 0.2);
    padding: 30px 40px;
    height: fit-content;
  }

  &-texts {
    height: fit-content;
    @include mixin.pc {
      border-spacing: 0 10px;
    }

    tbody {
      @include mixin.pad {
        display: flex;
        flex-wrap: wrap;
      }
      @include mixin.sp {
        display: block;
      }
    }
  }
  &__title,
  &__text {
    padding-inline: 10px;
    line-height: 1;
    padding: 7px 10px 10px;
  }
  &__title {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: var(--small-radius);
    font-weight: 400;
    white-space: nowrap;
  }
  &__text {
    color: var(--primary-color);
    font-weight: bold;
  }
  &-comments {
    @include mixin.pad {
      width: fit-content;
      margin-inline: auto;
    }
    @include mixin.sp {
      margin-top: 40px;
    }
  }
  &__comment {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    padding: 16px 17px;
    border: 2px solid var(--primary-color);
    border-radius: var(--small-radius);
    background-color: #fff;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 70%;
      border-style: solid;
      border-width: 20px 0 0 20px;
      border-color: var(--primary-color) transparent transparent;
      translate: -50% 100%;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 70%;
      border-style: solid;
      border-width: 15.2px 0 0 15.2px;
      border-color: #fff transparent transparent;
      translate: calc(-50% + 0.4px) 100%;
    }
  }

  &__illust {
    max-width: 120px;
    margin-left: auto;
  }
  // old table変える

  // new
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  @include mixin.pc {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &-texts {
    display: flex;
  }
  &__title {
    width: 100%;
    background: var(--primary-color);
    text-align: center;
    max-width: 35%;
    @include mixin.sp {
      max-width: 27%;
    }
  }
  &__text {
    width: 65%;
  }
}

.images-wrap {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  @include mixin.sp {
    display: initial;
  }
}
.images {
  max-width: 52%;
  @include mixin.sp {
    max-width: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
  }

  .swiper-main {
    border-radius: var(--large-radius);
    .swiper-slide {
      @include mixin.pc {
        max-height: 350px;
        aspect-ratio: 1;
        width: auto;
      }

      img {
        height: 100%;
        object-fit: contain;
        background-color: #dbdbdb;
      }
    }
  }

  .swiper-thumbnail {
    margin-top: 10px;
    .swiper-slide {
      img {
        opacity: 0.7;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
          opacity: 1;
        }

        height: 100%;
        object-fit: contain;
        background-color: #dbdbdb;
      }
    }
    .swiper-slide {
      height: auto !important;
      max-height: 90px;
      @include mixin.pad {
        max-height: 130px;
      }
    }
  }

  .swiper__text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    font-size: var(--small-font);
  }
}
.madori {
  background-color: #fff;
  position: relative;
  width: stretch;
  img {
    aspect-ratio: 1;
    object-fit: contain;
    cursor: pointer;
  }

  &::after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/common/zoom.svg);
  }
}

.detail {
  padding-top: 60px;

  .flex {
    gap: 40px;
    @include mixin.sp {
      flex-direction: column;
    }
  }
  &-spec {
    max-width: 50%;
    @include mixin.sp {
      max-width: initial;
    }
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    border-collapse: collapse;

    &.single {
      max-width: 100%;
    }

    tr {
      border-top: 1px solid #dbdbdb;
      &:last-of-type {
        border-bottom: 1px solid #dbdbdb;
      }
    }
  }
}
.spec {
  &__title,
  &__detail {
    padding: 10px 15px;
  }
  &__title {
    font-size: var(--small-font);
    font-weight: normal;
    background-color: var(--primary-color);
    color: #fff;
    text-align: left;

    &.adjust {
      @include mixin.sp {
        max-width: 31%;
        width: 100%;
      }
    }
  }
  &__detail {
  }
}
.other {
  &__title {
    text-align: center;
  }
}
.contact {
  .headline__title {
    font-size: var(--medium-font);
    text-align: center;
  }
}

// ソートform
.sort {
  &-container {
    display: flex;
    @include mixin.sp {
      flex-direction: column;
    }
  }
  &-label {
    padding-top: 7px;
  }

  font-size: var(--small-font);
  padding-top: 15px;
  padding-bottom: 20px;

  // for select
  width: fit-content;
  position: relative;
  &::before,
  &::after {
    position: absolute;
    content: "";
    pointer-events: none;
  }

  &::before {
    display: inline-block;
    right: 0;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 3px 3px 0;
  }
  // 一旦非表示
  &::after {
    // position: absolute;
    // top: 50%;
    // right: 1.4em;
    // transform: translate(50%, -50%) rotate(45deg);
    // width: 6px;
    // height: 6px;
    // border-bottom: 3px solid #fff; // #fff
    // border-right: 3px solid #fff; // #fff
  }
  select {
    height: 2.8em;
    padding: 0.4em 10px 0.4em 0.8em;
    margin-right: 10px;
    border: none;
    color: var(--text-color);
    @include mixin.sp {
    }
    cursor: pointer;
  }
}

// 一覧ページ用※カテゴリ別一覧含む
.archive .section-property .flex:not(.google) {
  gap: 40px;
}

.archive .property {
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
  }
  &-item {
    max-width: calc(100% / 5.5); //4.2
    width: 100%;
    background-color: #fff;
    @include mixin.sp {
      max-width: initial;
    }
    &:not(.column) .swiper-slide-item {
      height: 100%;
    }

    .name {
      font-weight: bold;
      line-height: 1.3;
    }
  }
  &-detail {
    width: 100%;
  }

  &__title,
  &__detail {
    font-size: var(--small-font);
    border-top: 1px solid #dbdbdb;
  }

  &__title {
    text-align: left;
    white-space: nowrap;
  }
  &__detail {
    .price {
      font-size: inherit;
    }
  }
}

.primary-btn + .property-list {
  margin-top: 20px;
}

// modal
/* モーダルと背景の指定 */
.modal {
  &:hover {
    cursor: pointer;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  text-align: center;
  background: rgba(0, 0, 0, 50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  box-sizing: border-box;
  z-index: 1;

  /* モーダルの擬似要素の指定 */
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -0.2em;
  }

  /* クラスが追加された時の指定 */
  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  /* モーダル内側の指定 */
  &-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 600px;
    width: 90%;
  }

  .info {
    background-color: #fff;
    color: var(--text-color);
    padding: 22px 28px;
  }

  .info-item {
    display: flex;
    gap: 20px;
  }

  .info-item + .info-item {
    border-top: #dbdbdb 1px solid;
  }
}

// searchform用ここから
.search {
  // ↓装飾罫断ち切り
  overflow-x: hidden;
  width: 100%;
  border-radius: var(--small-radius);
  height: fit-content;
  padding-bottom: 20px;
  .section + .section {
    margin-top: 40px;
  }

  .google {
    margin-bottom: 40px;
    gap: 0;

    .search__sub-title {
      font-weight: 700;
      color: #fff;
      background-color: var(--primary-color);
      height: stretch;
      padding: 9px 10px 0;
      &::after {
        content: none;
      }
    }

    input[name="s"] {
      @include mixin.pc {
        max-width: 35%;
      }
      width: 100%;
      background-color: #fff;
      padding: 3px 3px 3px 10px;
    }

    input[type="submit"] {
      color: #fff;
      font-weight: normal;
      background-color: var(--primary-color);
      padding: 2px 10px 4px;
      border: 5px solid #fff !important;
      cursor: pointer;
      margin-left: 0;
    }
  }

  &-list {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @include mixin.sp {
      flex-direction: column;
    }
    &.area {
      .search-item {
        max-width: 110px;
        width: 100%;
      }
    }
    &:has(.icon) {
      justify-content: space-between;
      @include mixin.pc {
        padding-inline: 50px;
      }
      @include mixin.sp {
        flex-direction: column;
      }
    }
  }

  input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    border: solid 2px #dbdbdb;
    vertical-align: middle;
    &:checked {
      border-color: var(--primary-color);
      &::after {
        content: "●";
        color: var(--primary-color);
        margin-top: 0px;
        display: block;
        line-height: 1;
      }
    }
  }
  &-item {
    &.icon {
      display: flex;
      align-items: flex-end;
      font-weight: bold;

      input[type="checkbox"] {
        width: 24px;
        height: 24px;
        &:checked::after {
          font-size: var(--medium-font);
        }
      }
    }
  }

  &__title-wrap {
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px 20px;
    border-top-left-radius: var(--small-radius);
    border-top-right-radius: var(--small-radius);
  }
  &__title {
    line-height: 1;
    span {
      font-size: var(--x-large-font);
    }
  }
  .primary-btn {
    margin-top: 20px;
  }

  &-btn {
    @include mixin.pad {
      margin-inline: auto;
    }
  }

  // カテゴリ毎のアイコン
  .icon-wrapper {
    max-width: 50px;
    height: auto;
    display: inline-block;
  }

  &-form {
    padding-bottom: 30px;
  }
  &__sub-title {
  }

  .search__sub-title {
    line-height: 1;
    white-space: nowrap;
    & + .flex {
      gap: 5px !important;
      margin-bottom: 40px;
      @include mixin.pc {
        align-items: center;
      }
    }
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: var(--text-color);
      vertical-align: middle;
    }
  }
  .flex:has(.search-price) {
    @include mixin.sp {
      flex-direction: column;
    }
  }
  &-price {
    margin-top: 20px;
    span {
      font-size: var(--small-font);
    }
    input[type="number"] {
      @include mixin.pc {
        max-width: 150px;
      }
    }
  }
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    &:checked::after {
      font-size: var(--small-font);
    }
  }
}

.hoge {
  color: var(--secondary-color);
}
