@charset "UTF-8";
@import 'mixin';

.is-property {}


// 一覧用、property共通 一部commonへ
.property {
  .amount__note {
    font-weight: bold;
    text-align: center;

    // @include sp {
    margin-top: 10px;
    // }
  }

  &__amount {
    font-size: 1.2rem;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 10px;

    span {
      color: #0057A6;
      font-weight: bold;
      font-size: 3rem;
      font-family: "Noto Sans", sans-serif;
      margin-right: -3px;
      line-height: 1;
    }
  }

  &__point {
    font-size: 1.2rem;
  }

  // 20250403 位置、サイズ変更
  &__text {
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
  }

  &__point {
    margin-top: 20px;
  }

  .solid-button {
    margin-top: 30px;
  }

  &-subscribe {
    text-align: center;
    margin-top: 30px;

    a {
      color: #0057A6;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }

  // table
  &__th {
    text-align: left;
    padding-right: 8px;
  }

  &__td {
    padding-left: 8px;
  }

  &-contact {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: #F9F7F1;
    width: 100%;
    padding: 20px;
    gap: 20px;
    z-index: 5;

    .solid-button,
    .border-button {
      margin: 0;
    }

    .solid-button {
      background-color: #E70012;
    }

    .border-button {
      color: #E70012;
      border-color: #E70012;

      &::after {
        border-top-color: #E70012;
        border-right-color: #E70012;
      }
    }
  }

  &-detail {
    margin-top: 100px;
  }

  // 一覧、property共通ここまで
}



// 一覧のみ
.is-property:not(.detail) {
  .amount-wrap+.amount-wrap {
    margin-top: 20px;
  }

  // add 20250407
  .property-category {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}

// 詳細のみ
.is-property.detail {
  background-color: #fff;

  .to-top {
    bottom: 20%;
  }


  .property-category {
    margin-top: 10px;
    border: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    align-content: flex-start;
  }

  .property__category,
  .property-category a {
    border: 1px solid #0057A6;
    background-color: #fff;
    width: fit-content;
    padding: 5px;
    line-height: 1;
    display: inline-block;
    font-size: 1.2rem;
    color: #0057A6;
    height: fit-content;
  }

  .grecaptcha-badge {
    margin-bottom: 90px;
  }

  .property-inner {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    // add 20250331
    @include pc {
      min-width: 50%;
    }
  }

  .flex:has(.amount-wrap) {
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
  }

  .amount-wrap {
    width: 100%;

    &.flex {
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  .headline__title {
    text-align: left;
  }

  .property__amount {
    text-align: center;
    font-size: 1.6rem;
    // margin-top: 10px;

    // 金額
    span {
      font-size: 4.5rem;

      &.comming-soon {
        font-size: 3.5rem;
      }
    }
  }

  .amount-wrap.loan {

    // 金額
    span {
      font-size: 2.5rem;
    }
  }

  .property-points {
    border: 3px dotted #0057A6;
    padding: 20px;
    border-radius: 3px;
    margin-top: 20px;
  }

  .property-point__title {
    color: #0057A6;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1;
  }

  // お問い合わせは・・・
  .property-tel {
    position: relative;
    width: fit-content;
    margin-inline: auto;
    margin-top: 50px;

    .property__text {
      font-size: 1.4rem;
    }
  }

  .property__titti {
    position: absolute;
    max-width: 77px;
    width: 100%;
    left: calc(50% + 105px);
    top: 10px;
  }

  .property__number {
    font-size: 4.5rem;
    white-space: nowrap;
    color: #0057A6;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
    line-height: 1;
    display: block;
    margin-top: 5px;
  }

  .property__info {
    margin-top: 15px;
  }

  .property__title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
  }

  .property-table:not(.nearby) {
    margin-top: 20px;

    @include pc {
      max-width: 50%;
    }
  }

  @include sp {
    .property-table+.property-table {
      margin-top: 0;
    }
  }

  .property__th,
  .property__td {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .property__th {
    white-space: nowrap;
  }

  // その他概要table
  .flex:has(.property-table.overview) {
    justify-content: center;

    @include pc {
      gap: 20px;
    }

    @include sp {
      flex-direction: column;
    }
  }

  .property-table.overview {

    th,
    td {
      padding: 20px;
      border-bottom: 1px solid #D9D9D9;
    }

    th {
      @include sp {
        width: 30%;
      }
    }
  }

  // カテゴリ
  .property-category {
    width: 100%;
  }

  // 備考
  .property-notes {
    width: 100%;

    @include pc {
      max-width: 50%;
    }
  }

  .property-notes {
    width: fit-content;
    margin-inline: auto;
  }

  @include sp {
    .flex:has(.property-notes) {
      flex-direction: column;
    }
  }

  .property-inner {

    .property-category,
    .property-notes,
    .property-map {
      font-size: 1.2rem;
      margin-top: 40px;
    }
  }

  .property-category__title,
  .property-notes__title,
  .property-map__title {
    font-weight: bold;
    font-size: 1.4rem;
    width: 100%;
    height: fit-content;
  }



  .property__note {
    margin-top: 10px;
  }

  // iframe
  .property__map {
    margin-top: 10px;
    width: 100%;
  }

  .overview-wrap {
    @include pc {
      display: flex;
    }
  }

  // sp用スライダ
  .sp-swiper {
    display: none;

    @include sp {
      display: block;
      overflow-x: hidden;
      position: relative;
    }
  }

  .swiper-wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    // @include pc {
    //   max-width: 50%;
    // }
  }

  .js-open-modal {
    max-width: 20%;

    @include sp {
      max-width: 33.333%;
    }

    // 最初の画像だけmainぽく
    &:first-of-type {
      max-width: 100%;
      max-height: 500px;
      overflow: hidden;
    }
  }

  .swiper-button__wrap {
    height: 100%;
    background-color: rgba(0, 87, 166, 0.5);
    width: 35px;
    position: absolute;
    z-index: 1;
    top: 0;
  }

  .swiper-button__wrap:has(.swiper-button-prev) {
    left: 0;
  }

  .swiper-button__wrap:has(.swiper-button-next) {
    right: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 3.5rem;
  }

  .site-footer {
    padding-bottom: 75px;
  }

  // サムネ用
  .swiperThumbnail {
    @include pc {
      margin-top: 20px;
    }

    .swiper-slide {
      cursor: pointer;
    }
  }

  // 画像キャプション
  .swiper-caption {
    color: #fff;
    padding: 2px 2px 3px;
  }

  .no-resource {
    text-align: center;
    margin-top: 20px;
  }

  //modal機能追加
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
    background-color: rgba(120, 123, 131, 0.8);

    .swiper-wrapper {
      align-items: center;
    }
  }

  /* モーダルがactiveの時 */
  .modal.is-active {
    opacity: 1;
    pointer-events: auto;
  }

  /* モーダル背景のオーバーレイ部分 */
  .modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  /* モーダルのコンテンツ */
  .modal__content {
    position: relative;
    background-color: #000;
    width: 100%;

    @include pc {
      // 要固定！
      max-width: 800px;

    }
  }

  /* モーダルを閉じるボタン */
  .modal__close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 10;
  }

  // /.is-property.detail
}


.solid-button.download {
  background-color: #0057A6;

  &::after {
    content: none;
  }
}

// add 20241122
// 個々にdl
.download {
  margin-top: 20px;

  &__text {
    font-size: 1.6rem;
    font-weight: bold;
    border-left: 8px solid #0057A6;
    padding: 6px 14px;
  }

  .flex {
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}

.download__link {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  border-bottom: 1px solid #0057A6;
  line-height: 1;

  &::after {
    position: absolute;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 11px;
    height: 11px;
    border-top: 2px solid #0057A6;
    border-right: 2px solid #0057A6;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
    right: 15px;
  }
}


// 計算form
.estimate-wrap {
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
}

#toggle,
.estimate {
  display: none;
}

.toggle {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
}

.square_btn {
  display: inline-block;
  background: #0057A6;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  width: fit-content;
}

.square_btn {
  display: block;
  margin-inline: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.close__btn {
  position: absolute;
  right: 6px;
  top: -23px;
  font-size: 5rem;
  cursor: pointer;
}

#toggle:checked+label+.estimate {
  display: block;
}

.estimate {
  position: absolute;
  background: #fff;

  @include pc {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  padding: 40px 30px 30px 20px;
  right: 0;
  border: 10px solid #0057A6;
  border-radius: 3px;
  width: fit-content;
  z-index: 10;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

  table {
    width: 100%;
  }

  th {
    min-width: 115px;
    text-align: right;
  }

  &-baloon {
    background-color: #0057A6;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    line-height: 1.4;
    text-align: center;
    font-size: 1.1rem;
    position: relative;
  }

  &-baloon::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #0057a6;
    translate: 100% -50%;
  }
}


// 金額下の但し書き
.amount__caution {
  font-size: 1.1rem;
  padding-left: 1em;
  text-indent: -1em;
}

.amount__caution+.amount__caution {
  margin-top: 2px;
}