@charset "UTF-8";
@import 'mixin';

.is-search {}

// アコーディオン開閉時barをhidden
// .is-property_search {
//   overflow: hidden;
// }

// 検索ページ、パーツ共通
.search {
  &-lead {
    background-image: url(../img/common/balloon.svg);
    background-repeat: no-repeat;
    background-size: 216px;
    background-position: center;
    height: 100px;
    position: relative;
    margin-top: 30px;
  }

  &-lead__text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.45;
  }

  &-type {
    background-color: #fff;
    padding: 5px 20px;
    margin-inline: auto;

    @include pc {
      max-width: 680px;
    }

  }

  // アコーディオン
  .toggle {
    display: none;
  }

  .Label {
    /*タイトル*/
    padding: 1em 1em 1em 2.8em;
    display: block;
    font-size: 1.6rem;
    border-bottom: 1px solid #D9D9D9;
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .Label.map {
    background-image: url(../img/common/icon-map.webp);
    background-size: 38px;
  }

  .Label.amount {
    background-image: url(../img/common/icon-amount.webp);
    background-size: 28px;
  }

  .Label.keyword {
    background-image: url(../img/common/icon-keyword.webp);
    background-size: 32px;
  }

  .Label.hoge {
    background-image: url(../img/common/icon-search.webp);
    background-size: 30px;
  }

  .Label,
  .content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
  }

  .content {
    height: 0;
    padding: 0 20px;
    overflow: hidden;
  }

  .toggle:checked+.Label+.content {
    height: auto;
    padding: 20px;
    transition: all .3s;
  }

  .Label::before,
  .search-map-item::after {
    position: absolute;
    margin-inline: auto;
    content: "";
    vertical-align: middle;
    width: 11px;
    height: 11px;
    border-top: 1px solid #0057a6;
    border-right: 1px solid #0057a6;
    transform: rotate(135deg);
    right: 0;
    top: 18px;
  }

  // 仮) link扱いなので
  .Label.hoge::before {
    transform: rotate(45deg);
    top: 26px;
    right: 2px;
  }

  .Label.hoge a {
    display: inline-block;
    width: 100%;
  }

  .search-map-item::after {
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .toggle:checked+.Label::before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: all .3s;
  }


  // 地区から探す
  .content.search-map {
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
  }

  .search-map-item {
    border-bottom: 1px solid #D9D9D9;
    font-size: 1.4rem;
    position: relative;
    width: 50%;

    @include pc {
      width: 33%;
    }

    @include sp {}
  }

  .search-map-item a {
    display: inline-block;
    width: 100%;
    padding: 1em;
  }

  // 金額で絞り込む
  .search-price li+.search-price li {
    margin-top: 10px;
  }

  .search-price input[type=tel] {
    border: 1px solid #D9D9D9;
  }

  .screen-reader-text {
    display: none;
  }

  input[type=text],
  input[type=number] {
    box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
  }

  input[type=text] {
    width: 100%;
  }

  .search-amount div {
    margin-inline: auto;
    width: fit-content;

    @include pc {
      display: inline-block;
    }
  }

  .search-amount div+div {
    margin-top: 20px;
  }

  input[type=submit] {
    width: 100%;
    margin-top: 20px;
  }

  // 金額から探す
  .search-range {
    appearance: none;
    width: 200px;
    height: 2px;
    border: 1px solid #d9d9d9;
    border-radius: 9999px;
    background: #d9d9d9;
    cursor: pointer;
  }

  /* ツマミ：Chrome, Safari, Edge用 */
  .search-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 9999px;
    background: #0057a6;
    box-shadow: none;
  }

  /* ツマミ：Firefox用 */
  .search-range::-moz-range-thumb {
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 9999px;
    background: #0057a6;
    box-shadow: none;
  }

  #searchsubmit {
    background-color: #0057a6;

  }


  // kw検索
  #search {
    // @include pc {
    //   display: flex;
    //   justify-content: space-between;
    // }
  }

  input[type=text] {
    // @include pc {
    //   max-width: 72%;
    // }
  }

  .solid-button {
    background-color: #0057a6;

    // @include pc {
    //   display: inline-block;
    //   max-width: 25%;
    // }

    // @include sp {
    margin-top: 20px;
    width: 100%;
    // }
  }
}

.section-property {
  margin-top: 80px;
}