@charset "UTF-8";
@import 'mixin';

.is-top {}

// 大見出し周り 20250304改修
.section-hero {
  position: relative;
}

.section-hero {
  font-weight: normal;

  @include pc {
    //キャッチがはみ出す対策
    overflow-x: hidden;
  }

  small {
    font-size: 1.4rem;
  }

  .headline {
    position: relative;
    margin-inline: auto;
    width: fit-content;
  }

  .headline__title {
    span {
      color: #0057A6;
      font-size: 3.1rem;
      font-weight: bold;
    }
  }

  .headline__img {
    display: inline-block;
    width: 37px;
    position: absolute;
    top: -17px;
    left: 19px;
  }

  // add 20250304
  .topSwiper {
    position: relative;
    z-index: 1;
    overflow-x: hidden;

    .swiper-slide {
      height: auto;

      @include pc {
        max-height: 75svh;
      }
    }

    .swiper-slide img {
      height: 100%;

      @include pc {
        object-fit: cover;
      }
    }
  }
}

.catch {
  margin-inline: auto;
  margin-top: -80px;
  position: relative;
  z-index: 2;

  @include pc {
    max-width: 70%;
  }

  &-texts,
  &__img {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  &-texts {
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

    @include pc {
      // 82行目の引継ぎ
      transform: translate(-50%, -50%) scale(1.8);
      top: 50%;
    }
  }

  &__img {
    position: relative;
  }

  &__headline {
    font-weight: bold;
    font-size: 1.8rem;
    color: #fff;

    span {
      font-size: 2.4rem;
    }
  }

  &__lead {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 3px;
    width: fit-content;
    margin-inline: auto;
  }

  &__text {
    color: #fff;
  }

  &-titti {
    max-width: 50px;
    left: calc(50% + 90px);
    position: relative;


    @include pc {
      max-width: 65px;
      left: calc(50% + 170px);
      margin-bottom: -2px;
    }
  }
}

// 買いたい／売りたい装飾部分
.section-buyOrSell {

  .crossroad-wrap {
    @include pc {
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: flex-end;
    }

    @include sp {
      padding-inline: 0;
    }
  }

  // add 20250314
  .crossroad-wrap.new {
    @include sp {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    margin-top: 50px;
    gap: 10px;

    .solid-button {
      font-size: 1.8rem;
      line-height: 1.3;
      padding-top: 15px;
      padding-bottom: 15px;
      width: 100%;
      margin-top: 15px;

      span {
        font-weight: bold;
      }
    }
  }

  .buy__title,
  .sell__title {
    line-height: 1.3;
  }

  .buy__title span,
  .sell__title span {
    font-weight: bold;
  }

  .buy-headline,
  .sell-headline {
    @include pc {
      transform: scale(1.2);
    }
  }

  .buy__balloon,
  .sell__balloon {
    margin-inline: auto;
  }

  .buy__titti,
  .sell__titti,
  .buy__icon,
  .sell__icon,
  .buy__title,
  .sell__title {
    z-index: 1;
  }

  .buy__title,
  .sell__title {

    width: 100%;
    text-align: center;

    @include sp {
      height: 72px;
    }
  }

  .buy__balloon {
    max-width: 250px;
  }

  .sell__balloon {
    max-width: 300px;
  }

  .buy__titti {
    width: 55px; //max-
    right: calc(50% + 78px);
    bottom: 0;
    transform: rotate(15deg);
  }

  .sell__titti {
    width: 58px; //max-
    left: calc(50% + 90px);
    transform: rotate(15deg);
    bottom: 0;
  }

  .buy__icon {
    max-width: 50px;

    margin-inline: auto;

    @include sp {
      height: 55px;
    }
  }

  .sell__icon {
    max-width: 55px;
    margin-inline: auto;
  }

  .buy,
  .sell {
    width: 100%;
  }

  .buy .solid-button,
  .sell .solid-button {
    background-color: #E70012;
  }


  .border-button {
    @include pc {
      margin-top: 25px;
    }
  }

  .border-button {
    width: 100%;
    color: #000;
  }
}

.section-column,
.section-news,
.section-favorite,
.section-concern {
  margin-top: 100px;
}


// news(お知らせ)
.news.simple .news {

  // 一覧デザイン決まってないので打消し有り
  &-list {
    display: block;
  }

  &-item {
    border-bottom: 1px solid #0057A6;
    padding: 10px;
    margin-inline: auto;

    @include pc {
      max-width: 64%;
    }

    .flex {
      align-items: center;
    }

    // デザイン一覧の方どうするか？
    background-color: initial;
    box-shadow: none;
    width: 100%;
  }

  &__date {
    padding-right: 10px;
    margin-right: 10px;
  }

  &__title {
    font-size: 1.6rem;
    text-align: justify;
    color: initial;
    font-weight: normal;
    padding-right: 25px;
  }
}


// このようなお悩み
.concern {
  &__img {
    margin-top: 20px;
  }

  .texts-wrap {
    margin-inline: auto;
    width: fit-content;
    text-align: center;
  }

  &__headline {
    font-weight: bold;
    font-size: 2.2rem;
  }

  &__text {
    font-size: 1.8rem;
    margin-top: 10px;
  }

  &-list {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;

    @include pc {
      flex-wrap: wrap;
    }

    @include sp {
      flex-direction: column;
    }
  }

  &-item {
    border: 5px solid #E6EFF7;
    background-color: #fff;
    font-size: 1.8rem;
    padding: 8px;
  }

  strong {
    background: linear-gradient(transparent 60%, rgba(255, 255, 0, 0.5) 0%);
  }

  section {
    margin-top: 20px;
  }
}

// add20250325 top pick up
.section-pickup {
  margin-top: 80px;
  overflow: hidden;

  .solid-button {
    width: 100%;
  }

  // pickupをswiperにする <- 動かないので風に作るしかない？
  .property-list {
    flex-wrap: nowrap !important;
    align-items: stretch;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    @include sp {
      flex-direction: row !important;
    }
  }

  .section-content {
    @include sp {
      padding-inline: 0;
      max-width: 100%;
    }
  }

  .property-item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    flex-shrink: 0; // 消すな
    width: 44% !important;

    @include sp {
      width: 88% !important;
    }

    &::after {
      background-color: #0057A6;
      color: #fff;
      font-size: 1.4rem;
      font-weight: bold;
      content: "ピックアップ";
      position: absolute;
      transform: rotate(30deg);
      right: -87px;
      top: 16px;
      padding: 7px 100px 7px 100px;
    }
  }

  .property-item__inner {
    padding-bottom: 20px !important;
  }

  .property-category {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    // @include pc {
    max-width: 80%;
    // }
  }
}

// お知らせ(夏季休暇など限定的)
.section-info {
  margin-top: 75px;
}

.info {
  background-color: #fff;
  padding: 25px 35px;

  @include sp {
    padding-inline: 20px;
  }

  width: fit-content;
  margin-inline: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &-texts {
    margin-top: 15px;
  }

  &__text+&__text {
    margin-top: 10px;
  }

  &__text.emphasis {
    text-align: center;
    font-weight: bold;
    color: #0057A6;
    font-size: 1.8rem;
    margin-top: 20px;
  }

  position: relative;
  overflow: hidden;

  &::after {
    content: url(../img/common/titti-bow.svg);
    opacity: 0.25;
    display: block;
    position: absolute;
    right: 2px;
    bottom: -10px;
    width: 80px;

    @include sp {
      width: 116px;
    }
  }
}