@charset "UTF-8";
@use "mixin" as mixin;

// このページのみのheader, footer, etc...
// 大変でした。。。
.is-uritai {
  .section + section:not(.section-strength, .section-map) {
    margin-top: 80px;
  }

  .site-main {
    max-width: 100%;
    margin-left: 0;
    background-color: initial;
  }
  .section-contact {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 10px 0;
    .section-content {
      justify-content: center;
      @include mixin.sp {
        flex-direction: column;
      }
    }

    input:not(.primary-btn, [type="radio"]),
    textarea {
      background-color: #fff;
    }
    // formのみ
    .headline__title {
      margin-top: 25px;
    }
  }

  // 全体
  .headline {
    &__title,
    &__text {
      font-weight: bold;
    }
  }

  .section:is(.section-contact, .section-strength) .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section:is(.section-contact, .section-strength) .headline__title,
  .section:is(.section-contact, .section-strength) .headline__text {
    writing-mode: vertical-rl;
    font-feature-settings: initial;

    @include mixin.sp {
      writing-mode: initial;
    }
  }

  .headline__title span,
  .headline__text span {
    color: var(--primary-color);
  }

  .headline__title,
  .headline__text {
    @include mixin.sp {
      text-align: left;
    }
  }

  .headline__title {
    font-family: serif;
    font-size: var(--x-large-font);
    @include mixin.sp {
      font-size: var(--large-font);
    }
  }
  .headline__text {
    @include mixin.sp {
      font-size: var(--medium-font);
    }
  }
  .contact {
    background-color: initial;
    border: none;
  }
}

.section-fv {
  @include mixin.pc {
    border-top: 20px solid var(--primary-color);
  }

  // 逆角丸
  .corner {
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      width: 30px;
      height: 30px;
      left: -30px;
    }
    &::before {
      background-color: #fff;
      border-top-right-radius: 50px;
      z-index: 1;
    }
    &::after {
      background-color: var(--primary-color);
    }
  }
}
.fv {
  > .flex {
    @include mixin.sp {
      position: relative;
    }
  }
  &__catch {
    writing-mode: vertical-rl;
    font-family: serif;
    font-size: var(--x-large-font);
    margin-top: 40px;
    @include mixin.sp {
      font-size: var(--large-font);
      position: absolute;
      right: 0;
    }
  }
  &__img {
    max-width: 965px;
    @include mixin.sp {
      position: relative;
    }
  }

  &__logo {
    margin-top: 20px;
    img {
      max-width: 200px;
      @include mixin.sp {
        max-width: 100px;
      }
    }
  }
  &__name {
    font-size: var(--medium-font);
    text-align: center;
    @include mixin.sp {
      font-size: var(--small-font);
    }
  }
  &-info {
    text-align: right;
    background-color: var(--primary-color);
    color: #fff;
    border-bottom-left-radius: var(--large-radius);
    border-bottom-right-radius: var(--large-radius);
    margin-left: auto;
    width: fit-content;
    padding: 0 55px 25px;
    position: relative;
  }

  &-info__link {
    margin-left: auto;
    display: block;
    color: #fff;
    border-bottom: 2px solid #fde200;
    width: fit-content;
    &.logo::after,
    &.mail::after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;
      vertical-align: middle;
      margin-left: 5px;
    }

    &.logo::after {
      background-image: url(../img/uritai/logo.png);
    }
    &.mail::after {
      background-image: url(../img/uritai/mail.png);
    }
  }
  &-info__tel {
    font-size: var(--large-font);
    span {
      font-size: var(--medium-font);
    }
  }
  &-info__text {
    font-size: var(--small-font);
  }

  &__lead {
    margin-left: 50px;
    @include mixin.sp {
      margin-inline: auto;
    }
    width: fit-content;
    margin-top: 10px;
    position: relative;
    z-index: 1;
  }
  position: relative;

  &__float {
    max-width: 240px;
    position: absolute;
    right: 0;
    @include mixin.pc {
      bottom: 0;
    }
    @include mixin.sp {
      max-width: 84px;
      top: -58px;
    }
  }
}

.section-promise {
  background-color: #f9f5ee;
  padding: 50px 0;
  .headline__title {
    text-align: left;
    font-size: var(--large-font);
    margin-bottom: 20px;
  }
}
.promise {
  &-texts {
    .promise__text {
      @include mixin.pc {
        font-size: var(--medium-font);
      }
    }
  }
  &__img {
    max-width: 440px;
  }
  &__text + &__text {
    margin-top: 20px;
  }
  &__link {
    width: fit-content;
    display: block;
    margin-left: auto;
    border-bottom: 1px solid var(--primary-color);
    padding-right: 10px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      margin: auto;
      width: 9px;
      height: 9px;
      border-top: 1px solid var(--primary-color);
      border-right: 1px solid var(--primary-color);
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }
  .flex:has(.headline) {
    @include mixin.sp {
      flex-direction: column;
      gap: 20px;
    }
  }

  .flex:has(.promise-staff) {
    gap: 10px;
  }
  &-staff {
    margin-top: 20px;
    .promise__text {
      font-weight: bold;
    }
    @include mixin.sp {
      font-size: var(--small-font);
    }
  }
  &__name {
    @include mixin.sp {
      font-size: var(--small-font);
    }
  }
  &-staff__img {
    img {
      border-radius: var(--small-radius);
      @include mixin.sp {
        object-fit: cover;
        aspect-ratio: 1;
      }
    }
  }
}

.section-strength {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 50px 0;
  .section-content {
    gap: 40px;
    @include mixin.sp {
      flex-direction: column;
    }
  }
}
.strength {
  &__catch {
    padding: 5px 30px 7px;
    line-height: 1;
    @include mixin.pc {
      font-size: var(--medium-font);
    }
    width: fit-content;
    color: var(--secondary-color);
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-left: 1px solid var(--secondary-color);
      border-right: 1px solid var(--secondary-color);
      transform: skewX(-15deg);
    }
  }
  &-sect {
    display: flex;
    background-color: #fff;
    // border: 3px solid #f9f5ee;
    padding: 30px 40px;
    border-radius: 12px;
    @include mixin.sp {
      flex-direction: column;
    }
    &:nth-of-type(odd) {
      .strength__catch {
        color: var(--primary-color);
        border-top-color: var(--primary-color);
        border-bottom-color: var(--primary-color);
        &::before {
          border-left-color: var(--primary-color);
          border-right-color: var(--primary-color);
        }
      }
    }
    & + .strength-sect {
      margin-top: 20px;
    }
  }

  &__title {
    margin-top: 6px;
    font-weight: bold;
    font-size: var(--medium-font);
    @include mixin.sp {
      font-size: initial;
    }
  }
  &__img {
    max-width: 260px;
  }
}

.section-flow {
}
.flow {
  &-step {
    .flex {
      align-items: center;
      gap: 20px;
    }
    &:nth-of-type(odd) {
      .flow__title {
        color: var(--secondary-color);
        border-bottom-color: var(--secondary-color);
      }
    }
  }
  &__title {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    width: fit-content;
    font-weight: bold;
    font-size: var(--medium-font);
  }
  &__img.icon {
    max-width: 80px;
  }
  &__img.line {
    max-width: 5px;
    margin-inline: auto;
  }
  &-imgs {
    gap: 10px;
    margin-top: 20px;
    @include mixin.sp {
      flex-direction: column;
    }
    .flow__img {
      outline: 1px solid var(--text-color);
    }
  }
}

.section-regret {
  .headline__title {
    font-size: var(--x-large-font);
    @include mixin.sp {
      font-size: var(--large-font);
    }
  }
  .headline__text {
    font-size: var(--large-font);
    font-family: serif;
    @include mixin.sp {
      font-size: var(--medium-font);
    }
  }
}
.regret {
  &__lead {
    font-weight: bold;
    font-size: initial;
  }
  &-item {
    padding-top: 30px;
    padding-bottom: 30px;
    @include mixin.pc {
      padding-inline: 50px;
    }
    &:nth-of-type(odd) {
      .regret-list__title,
      .regret__title {
        font-weight: bold;
      }
      .regret__title {
        border-bottom-color: var(--secondary-color);
      }
      .regret-list__title {
        color: var(--secondary-color);
      }
      .regret-list__title i {
        background-color: var(--secondary-color);
      }
    }
  }

  &-descript {
    margin-top: 20px;
    & > .flex {
      gap: 15px;
      align-items: center;
      @include mixin.sp {
        flex-direction: column;
      }
    }
  }

  .regret-list__title,
  &__title {
    font-weight: bold;
  }
  &__title {
    white-space: nowrap;
    padding-inline: 10px;
    border-bottom: 3px solid var(--primary-color);
    line-height: 1;
    height: fit-content;
    font-size: initial;
    @include mixin.sp {
      width: fit-content;
      margin-right: auto;
    }
  }
  .regret-list__title {
    color: var(--primary-color);
    @include mixin.pc {
      font-size: var(--large-font);
    }
  }
  .regret-list__title i {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: var(--large-radius);
    font-style: normal;
    padding: 0px 12px 3px;
    font-weight: normal;
    @include mixin.pc {
      font-size: var(--medium-font);
    }
  }
}

.section-contact {
  .headline__text {
    @include mixin.pc {
      margin-top: 40px;
      font-feature-settings: "pkna";
    }
  }

  .content {
    @include mixin.pc {
      width: 85%;
    }
  }
}
.contact {
  @include mixin.sp {
    padding: 0 !important;
  }
  &__title,
  &__detail {
    display: block;
  }
  &__title {
    max-width: 100% !important;
    span {
      color: var(--primary-color) !important;
      border: 1px solid var(--primary-color);
      margin-left: 5px;
      padding: 0 4px 3px;
    }
  }

  input[type="radio"] {
    appearance: none;
    background-color: #fff;
    width: 38px;
    height: 38px;
    border: 6px solid #dbdbdb;
    border-radius: 50%;
    margin-bottom: -12px;

    &:before {
      content: "";
      display: block;
      width: 60%;
      height: 60%;
      margin: 20% auto;
      border-radius: 50%;
    }

    &:checked:before {
      background: var(--primary-color);
    }
  }
  span:has(input[type="radio"]) {
    @include mixin.sp {
      display: block;
      margin-bottom: 10px;
    }
  }

  select {
    background-color: #fff;
    margin-left: 20px;
    padding: 12px;
    border-radius: 12px;
  }
  .primary-btn {
    @include mixin.pc {
      font-size: var(--medium-font);
      font-weight: normal;
    }
    background-color: var(--primary-color);
  }
}

.section-map {
  .headline__title {
    text-align: center;
  }
}
.map iframe {
  height: 500px;
}

.section-lp_footer {
  letter-spacing: 0;
  .headline {
    display: flex;
    align-items: center;

    justify-content: flex-start;
    @include mixin.pc {
      gap: 20px;
    }
    @include mixin.sp {
      flex-direction: column;
    }
  }

  .headline__title {
    font-size: var(--x-large-font);
    white-space: nowrap;
    @include mixin.sp {
      letter-spacing: -1px;
    }
    &::before {
      vertical-align: middle;
      content: "";
      display: inline-block;
      width: 50px;
      height: 50px;
      background-image: url(../img/common/favicon.png);
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: center;
      margin-right: 10px;
      @include mixin.sp {
        margin-right: 5px;
        width: 45px;
        height: 45px;
        background-size: 45px;
      }
    }
  }
  .headline__address {
    text-align: left;
    @include mixin.sp {
      font-size: var(--small-font);
      margin-right: auto;
    }
  }
}
.lp_footer {
  .flex {
    white-space: nowrap;
    justify-content: center;

    &:has(.lp_footer__tel) {
      align-items: flex-end;
      @include mixin.sp {
        align-items: center;
        flex-direction: column;
      }
    }
    @include mixin.sp {
      margin-top: 10px;
    }
    + .flex {
      // 2つ目のflex
      @include mixin.pc {
        gap: 15px;
      }
    }
  }
  &__text,
  &__tel,
  &__close {
    line-height: 1;
  }

  &__text {
    font-size: var(--large-font);
    @include mixin.sp {
      font-size: initial;
      margin-right: auto;
    }
  }
  &__tel {
    font-size: var(--x-large-font);
    @include mixin.sp {
      font-weight: bold;
    }
    color: var(--primary-color);
    span {
      font-size: var(--x-large-font);
      @include mixin.sp {
        font-size: var(--large-font);
      }
    }
  }
  &__time {
    color: var(--primary-color);
    font-size: var(--large-font);
    @include mixin.sp {
      font-size: var(--small-font);
    }
  }
  &__close {
    background-color: var(--primary-color);
    color: #fff;
    font-size: var(--medium-font);
    height: fit-content;
    padding: 9px 13px 10px;
    @include mixin.pc {
      margin-top: 10px;
    }
    @include mixin.sp {
      padding: 5px;
      font-size: var(--small-font);
    }
  }
  &__info {
    font-size: var(--small-font);
    text-align: center;
    @include mixin.sp {
      text-align: left;
    }
  }
  &__copy {
    text-align: center;
    font-size: var(--small-font);
    @include mixin.sp {
      text-align: right;
    }
  }
}
