@charset "UTF-8";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  /* scroll-behavior: smooth; */

  &:focus-within {
    scroll-behavior: smooth;
  }
}

/*
  タイポグラフィの微調整
  4. アクセシブルなline-heightを追加
  5. テキストのレンダリングを改善
*/
body {
  -webkit-font-smoothing: antialiased;
  font-size: 1.4rem;
  line-height: calc(24 / 14);
  /* line-height: 1.4; */
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  /* letter-spacing: 3px; */
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  text-rendering: optimizeLegibility;
  background-color: #F9F7F1;
  color: #000;
}

main,
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/*
  6. メディア要素のデフォルトを改善
*/
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  overflow-wrap: break-word;
}

p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
div a {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: bottom;
  border-style: none;
  max-width: 100%;
  width: 100%;
  display: inline-block;
  height: auto;
}

/*
  form用resetCSS
*/
input[type=text],
input[type=tel],
input[type=email] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

/* input[type=radio],
input[type=checkbox] {
  display: none;
} */

select {
  /* appearance: none; */
  border: none;
  outline: none;
  background: transparent;
  border-radius: 0;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 0;
}

button,
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 0;
}


/** COMMON
==============================================*/

.inline-block {
  font-size: 0;
}

.inline-block li {
  display: inline-block;
}

a {
  /* color: #fff; */
  color: #000;
  text-decoration: none;
  outline: none;
}

/* a:hover {
  color: #fff;
  color: #000;
  text-decoration: none;
  opacity: 0.7;
  transition: 0.3s;
} */

/* add 20241107 */
/* a:has(img) {
  display: block;
} */

a .alpha {
  opacity: 1;
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

a:hover .alpha {
  opacity: 0.8;
}

.text-center {
  text-align: center;
}

.figure img,
.flex img {
  width: 100%;
}

.tag {
  height: 0;
  overflow: hidden;
}

img.flex {
  width: 100%;
  height: auto;
}

img.full {
  max-width: none;
}

img.cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.show-small {
  display: none;
}

.row {
  margin-inline: auto;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1240px;
}

.row .row {
  padding: 0;
}

.row.nopad {
  padding: 0;
}


/* +40px */
.w700 {
  max-width: 740px;
}

.w860 {
  max-width: 900px;
}

.w800 {
  max-width: 840px;
}

.w960 {
  max-width: 1000px;
}

.w1000 {
  max-width: 1040px;
}

.w1040 {
  max-width: 1080px;
}

.w1100 {
  max-width: 1140px;
}

.w1300 {
  max-width: 1340px;
}

.w1320 {
  max-width: 1360px;
}