.section:not(.section-hero, .section-means, .section-map) + .section {
  padding-top: 100px;
}

.section:not(.section-news, .section-campaign, .section-helpful) .headline {
  border-top: 3px solid #231815;
  border-bottom: 1px solid #231815;
  padding: 15px 0 16px;
}

.section:not(.section-news, .section-campaign, .section-helpful) .headline__title {
  font-weight: 900;
  color: #0042bc;
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
}

.hero .primary-btn {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  padding-top: 8px;
  padding-bottom: 8px;
}
.hero .primary-btn span {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
}
.hero__img {
  max-width: 1300px;
}
.hero__img img {
  padding-top: 20px;
}
@media (max-width: 1040px) {
  .hero__img img {
    padding-top: 90px;
  }
}
@media (max-width: 1040px) {
  .hero-numProperty {
    top: 20px;
    right: 100px;
  }
}
@media (max-width: 760px) {
  .hero-numProperty {
    right: 10px;
    top: 200px;
    flex-direction: column;
  }
}

@media (max-width: 760px) {
  .section-arrival .headline,
  .section-recommend .headline {
    max-width: 100%;
  }
  .section-arrival .headline .headline__text,
  .section-arrival .headline .text__link,
  .section-recommend .headline .headline__text,
  .section-recommend .headline .text__link {
    display: none;
  }
}
.section-arrival .headline__img,
.section-recommend .headline__img {
  width: fit-content;
  margin-inline: auto;
  margin-top: 65px;
}
@media (max-width: 1040px) {
  .section-arrival .swiper-pagination,
  .section-recommend .swiper-pagination {
    display: none;
  }
}
@media (max-width: 760px) {
  .section-arrival .section-content.flex,
  .section-recommend .section-content.flex {
    flex-direction: column;
  }
  .section-arrival .swiper,
  .section-recommend .swiper {
    padding-bottom: 40px;
  }
  .section-arrival .swiper-pagination,
  .section-recommend .swiper-pagination {
    bottom: 0;
  }
}

.section-pickup .swiper-wrap,
.section-arrival .swiper-wrap,
.section-recommend .swiper-wrap {
  position: relative;
}

.useful {
  padding-top: 50px;
  gap: 20px;
  justify-content: center;
}
@media (max-width: 760px) {
  .useful {
    flex-direction: column;
    align-items: center;
  }
}
.useful-item + .useful-item {
  margin-top: 40px;
}
.useful__tab {
  background-color: #0042bc;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  font-size: 2.6rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.useful .buy,
.useful .sell {
  max-width: 47%;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  flex: 1;
}
.useful .buy::before,
.useful .sell::before {
  position: absolute;
  content: "";
  height: 80px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  top: -55px;
}
.useful .buy::before {
  background-image: url(../img/common/titti02.svg);
  width: 80px;
}
.useful .sell::before {
  background-image: url(../img/common/titti.svg);
  width: 88px;
  right: 0;
  top: -62px;
}
.useful-list {
  padding: 25px 35px 35px;
}
.useful__title {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
}
.useful__title::after {
  position: absolute;
  margin: auto;
  content: "";
  vertical-align: middle;
  width: 9px;
  height: 9px;
  border-top: 2px solid #0042bc;
  border-right: 2px solid #0042bc;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: 0;
}

.swiper {
  padding-top: 50px;
}
@media (max-width: 760px) {
  .swiper {
    padding-top: 15px;
  }
}
.swiper-wrapper {
  padding-top: 15px;
}
.swiper-slide {
  height: auto;
}
.swiper .swiper-slide-item {
  height: 100%;
}

@media (max-width: 760px) {
  .section-arrival .text__link02,
  .section-recommend .text__link02 {
    display: none;
  }
}

.section-column .text__link02 {
  margin-top: -30px;
}

.column-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px 0;
}
.column-item {
  max-width: 19%;
}
@media (max-width: 1040px) {
  .column-item {
    max-width: 24%;
  }
}
@media (max-width: 760px) {
  .column-item {
    max-width: 100%;
  }
}
.column-item {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  position: relative;
}
.column__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.column__time {
  position: absolute;
  bottom: 10px;
}

.section-pickup {
  margin-top: 50px;
}

.pickup.swiper {
  overflow-y: initial;
  padding-bottom: 40px;
}
.pickup .swiper-pagination {
  bottom: 0;
}

.section-campaign,
.section-helpful {
  position: relative;
}
.section-campaign .headline__title,
.section-helpful .headline__title {
  font-weight: 900;
  color: #0042bc;
  font-size: 2rem;
  text-align: center;
  padding: 12px 0 14px;
  background-color: #fff;
  border: 4px solid #231815;
  border-radius: 50px;
  max-width: 456px;
  margin-inline: auto;
  z-index: 1;
  width: 100%;
  left: 50%;
}
@media (max-width: 1040px) {
  .section-campaign .headline__title,
  .section-helpful .headline__title {
    border-width: 2px;
    font-size: 1.7rem;
    max-width: max-content;
    padding-inline: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 80px;
  }
}
.section-campaign .headline,
.section-helpful .headline {
  margin-bottom: 20px;
}

.section-news .section-content > .flex {
  align-items: center;
}
@media (max-width: 760px) {
  .section-news .section-content > .flex {
    flex-direction: column;
    align-items: initial;
  }
}
.section-news .headline__title {
  color: #fff;
  font-weight: 900;
  background-color: #0042bc;
  border-radius: 50px;
  font-size: 1.5rem;
  padding: 2px 40px 4px;
  width: fit-content;
}
.section-news .flex:has(.headline) {
  gap: 40px;
}
@media (max-width: 1040px) {
  .section-news .flex:has(.headline) {
    gap: 5px;
  }
}
@media (min-width: 1041px) {
  .section-news .content {
    width: 50%;
  }
}

.news__time, .news__title {
  font-size: 1.5rem;
}
@media (max-width: 760px) {
  .news__time, .news__title {
    font-size: 1.2rem;
  }
}
.news__time, .news__title {
  font-weight: bold;
}
.news-item > .flex {
  gap: 100px;
}
@media (max-width: 760px) {
  .news-item > .flex {
    gap: 20px;
  }
}
.news-item {
  position: relative;
}
.news-item::after {
  position: absolute;
  margin: auto;
  content: "";
  vertical-align: middle;
  width: 9px;
  height: 9px;
  border-top: 1px solid #231815;
  border-right: 1px solid #231815;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: 0;
}/*# sourceMappingURL=top.css.map */