:root {
  --text-color: #232323;
  --primary-color: #1879f7;
  --secondary-color: #62c0b4;
  --small-radius: 6px;
  --large-radius: 30px;
  --small-font: 1.2rem;
  --medium-font: 2rem;
  --large-font: 3.2rem;
  --x-large-font: 4.5rem;
}

.is-uritai .section + section:not(.section-strength) {
  margin-top: 80px;
}
.is-uritai .site-main {
  max-width: 100%;
  margin-left: 0;
  background-color: initial;
}
.is-uritai .section-contact {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 10px 0;
}
.is-uritai .section-contact .section-content {
  justify-content: center;
}
@media (max-width: 1040px) {
  .is-uritai .section-contact .section-content {
    flex-direction: column;
  }
}
.is-uritai .section-contact input:not(.primary-btn, [type=radio]),
.is-uritai .section-contact textarea {
  background-color: #fff;
}
.is-uritai .section-contact .headline__title {
  margin-top: 25px;
}
.is-uritai .headline {
  text-align: -webkit-center;
}
.is-uritai .headline__title, .is-uritai .headline__text {
  font-weight: bold;
}
@media (min-width: 1041px) {
  .is-uritai .section:is(.section-contact, .section-strength) .headline__title,
  .is-uritai .section:is(.section-contact, .section-strength) .headline__text {
    writing-mode: vertical-rl;
  }
}
.is-uritai .headline__title span,
.is-uritai .headline__text span {
  color: var(--primary-color);
}
@media (max-width: 760px) {
  .is-uritai .headline__title,
  .is-uritai .headline__text {
    text-align: left;
  }
}
.is-uritai .headline__title {
  font-family: serif;
  font-size: var(--x-large-font);
}
@media (max-width: 760px) {
  .is-uritai .headline__title {
    font-size: var(--large-font) !important;
  }
}
@media (max-width: 760px) {
  .is-uritai .headline__text {
    font-size: var(--medium-font) !important;
  }
}
.is-uritai .contact {
  background-color: initial;
  border: none;
}

@media (min-width: 1041px) {
  .section-fv {
    border-top: 20px solid var(--primary-color);
  }
}
.section-fv .corner::before, .section-fv .corner::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 30px;
  height: 30px;
  left: -30px;
}
.section-fv .corner::before {
  background-color: #fff;
  border-top-right-radius: 50px;
  z-index: 1;
}
.section-fv .corner::after {
  background-color: var(--primary-color);
}

@media (max-width: 760px) {
  .fv > .flex {
    position: relative;
  }
}
.fv__catch {
  writing-mode: vertical-rl;
  font-family: serif;
  font-size: var(--x-large-font);
  margin-top: 40px;
}
@media (max-width: 760px) {
  .fv__catch {
    font-size: var(--large-font);
    position: absolute;
    right: 0;
  }
}
.fv__img {
  max-width: 965px;
}
@media (max-width: 760px) {
  .fv__img {
    position: relative;
  }
}
.fv__logo {
  margin-top: 20px;
}
.fv__logo img {
  max-width: 200px;
}
@media (max-width: 760px) {
  .fv__logo img {
    max-width: 100px;
  }
}
.fv__name {
  font-size: var(--medium-font);
}
@media (max-width: 760px) {
  .fv__name {
    font-size: var(--small-font);
  }
}
.fv-info {
  text-align: right;
  background-color: var(--primary-color);
  color: #fff;
  border-bottom-left-radius: var(--large-radius);
  border-bottom-right-radius: var(--large-radius);
  margin-left: auto;
  width: fit-content;
  padding: 0 55px 25px;
  position: relative;
}
.fv-info__link {
  margin-left: auto;
  display: block;
  color: #fff;
  border-bottom: 2px solid #fde200;
  width: fit-content;
}
.fv-info__link.logo::after, .fv-info__link.mail::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-left: 5px;
}
.fv-info__link.logo::after {
  background-image: url(../img/uritai/logo.png);
}
.fv-info__link.mail::after {
  background-image: url(../img/uritai/mail.png);
}
.fv-info__tel {
  font-size: var(--large-font);
}
.fv-info__tel span {
  font-size: var(--medium-font);
}
.fv-info__text {
  font-size: var(--small-font);
}
.fv__lead {
  margin-left: 50px;
}
@media (max-width: 760px) {
  .fv__lead {
    margin-inline: auto;
  }
}
.fv__lead {
  width: fit-content;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}
.fv {
  position: relative;
}
.fv__float {
  max-width: 240px;
  position: absolute;
  right: 0;
}
@media (min-width: 1041px) {
  .fv__float {
    bottom: 0;
  }
}
@media (max-width: 760px) {
  .fv__float {
    max-width: 84px;
    top: -58px;
  }
}

.section-promise {
  background-color: #f9f5ee;
  padding: 50px 0;
}
.section-promise .headline__title {
  text-align: left;
  font-size: var(--large-font);
  margin-bottom: 20px;
}

@media (min-width: 1041px) {
  .promise-texts .promise__text {
    font-size: var(--medium-font);
  }
}
.promise__img {
  max-width: 440px;
}
.promise__text + .promise__text {
  margin-top: 20px;
}
.promise__link {
  width: fit-content;
  display: block;
  margin-left: auto;
  border-bottom: 1px solid var(--primary-color);
  padding-right: 10px;
  position: relative;
}
.promise__link::after {
  position: absolute;
  content: "";
  margin: auto;
  width: 9px;
  height: 9px;
  border-top: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media (max-width: 760px) {
  .promise .flex:has(.headline) {
    flex-direction: column;
    gap: 20px;
  }
}
.promise .flex:has(.promise-staff) {
  gap: 10px;
}
.promise-staff {
  margin-top: 20px;
}
.promise-staff .promise__text {
  font-weight: bold;
}
@media (max-width: 760px) {
  .promise-staff {
    font-size: var(--small-font);
  }
}
@media (max-width: 760px) {
  .promise__name {
    font-size: var(--small-font);
  }
}
.promise-staff__img img {
  border-radius: var(--small-radius);
}
@media (max-width: 760px) {
  .promise-staff__img img {
    object-fit: cover;
    aspect-ratio: 1;
  }
}

.section-strength {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 50px 0;
}
.section-strength .section-content {
  gap: 40px;
}
@media (max-width: 760px) {
  .section-strength .section-content {
    flex-direction: column;
  }
}

.strength__catch {
  padding: 5px 30px 7px;
  line-height: 1;
}
@media (min-width: 1041px) {
  .strength__catch {
    font-size: var(--medium-font);
  }
}
.strength__catch {
  width: fit-content;
  color: var(--secondary-color);
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  position: relative;
}
.strength__catch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
  transform: skewX(-15deg);
}
.strength-sect {
  display: flex;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 12px;
}
@media (max-width: 760px) {
  .strength-sect {
    flex-direction: column;
  }
}
.strength-sect:nth-of-type(odd) .strength__catch {
  color: var(--primary-color);
  border-top-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}
.strength-sect:nth-of-type(odd) .strength__catch::before {
  border-left-color: var(--primary-color);
  border-right-color: var(--primary-color);
}
.strength-sect + .strength-sect {
  margin-top: 20px;
}
.strength__title {
  margin-top: 6px;
  font-weight: bold;
  font-size: var(--medium-font);
}
@media (max-width: 760px) {
  .strength__title {
    font-size: initial;
  }
}
.strength__img {
  max-width: 260px;
}

.flow-step .flex {
  align-items: center;
  gap: 20px;
}
.flow-step:nth-of-type(odd) .flow__title {
  color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
}
.flow__title {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  width: fit-content;
  font-weight: bold;
  font-size: var(--medium-font);
}
.flow__img.icon {
  max-width: 80px;
}
.flow__img.line {
  max-width: 5px;
  margin-inline: auto;
}
.flow-imgs {
  gap: 10px;
  margin-top: 20px;
}
@media (max-width: 760px) {
  .flow-imgs {
    flex-direction: column;
  }
}
.flow-imgs .flow__img {
  outline: 1px solid var(--text-color);
}

.section-regret .headline__title {
  font-size: var(--x-large-font);
}
.section-regret .headline__text {
  font-size: var(--large-font);
  font-family: serif;
}

.regret__lead {
  font-weight: bold;
  font-size: initial;
}
.regret-item {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 1041px) {
  .regret-item {
    padding-inline: 50px;
  }
}
.regret-item:nth-of-type(odd) .regret-list__title,
.regret-item:nth-of-type(odd) .regret__title {
  font-weight: bold;
}
.regret-item:nth-of-type(odd) .regret__title {
  border-bottom-color: var(--secondary-color);
}
.regret-item:nth-of-type(odd) .regret-list__title {
  color: var(--secondary-color);
}
.regret-item:nth-of-type(odd) .regret-list__title i {
  background-color: var(--secondary-color);
}
.regret-descript {
  margin-top: 20px;
}
.regret-descript > .flex {
  gap: 15px;
  align-items: center;
}
@media (max-width: 760px) {
  .regret-descript > .flex {
    flex-direction: column;
  }
}
.regret .regret-list__title, .regret__title {
  font-weight: bold;
}
.regret__title {
  white-space: nowrap;
  padding-inline: 10px;
  border-bottom: 3px solid var(--primary-color);
  line-height: 1;
  height: fit-content;
  font-size: initial;
}
@media (max-width: 760px) {
  .regret__title {
    width: fit-content;
  }
}
.regret .regret-list__title {
  color: var(--primary-color);
}
@media (min-width: 1041px) {
  .regret .regret-list__title {
    font-size: var(--large-font);
  }
}
.regret .regret-list__title i {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: var(--large-radius);
  font-style: normal;
  padding: 0px 12px 3px;
  font-weight: normal;
}
@media (min-width: 1041px) {
  .regret .regret-list__title i {
    font-size: var(--medium-font);
  }
}

@media (min-width: 1041px) {
  .section-contact .headline__text {
    margin-top: 40px;
    font-feature-settings: "pkna";
  }
}
@media (min-width: 1041px) {
  .section-contact .content {
    width: 85%;
  }
}

@media (max-width: 760px) {
  .contact {
    padding: 0 !important;
  }
}
.contact__title, .contact__detail {
  display: block;
}
.contact__title {
  max-width: 100% !important;
}
.contact__title span {
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color);
  margin-left: 5px;
  padding: 0 4px 3px;
}
.contact input[type=radio] {
  appearance: none;
  background-color: #fff;
  width: 38px;
  height: 38px;
  border: 6px solid #dbdbdb;
  border-radius: 50%;
  margin-bottom: -12px;
}
.contact input[type=radio]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}
.contact input[type=radio]:checked:before {
  background: var(--primary-color);
}
@media (max-width: 760px) {
  .contact span:has(input[type=radio]) {
    display: block;
    margin-bottom: 10px;
  }
}
.contact select {
  background-color: #fff;
  margin-left: 20px;
  padding: 12px;
  border-radius: 12px;
}
@media (min-width: 1041px) {
  .contact .primary-btn {
    font-size: var(--medium-font);
    font-weight: normal;
  }
}
.contact .primary-btn {
  background-color: var(--primary-color);
}

@media (max-width: 760px) {
  .section-map .headline__title {
    text-align: center;
  }
}

.section-lp_footer .headline {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1041px) {
  .section-lp_footer .headline {
    gap: 20px;
  }
}
@media (max-width: 760px) {
  .section-lp_footer .headline {
    flex-direction: column;
  }
}
.section-lp_footer .headline__title {
  font-size: var(--x-large-font);
}
@media (max-width: 760px) {
  .section-lp_footer .headline__title {
    font-size: var(--large-font) !important;
  }
}
.section-lp_footer .headline__title::before {
  vertical-align: middle;
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../img/common/favicon.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  margin-right: 10px;
}
@media (max-width: 760px) {
  .section-lp_footer .headline__title::before {
    width: 45px;
    height: 45px;
    background-size: 45px;
  }
}
.section-lp_footer .headline__address {
  text-align: left;
}
@media (max-width: 760px) {
  .section-lp_footer .headline__address {
    font-size: var(--small-font);
    margin-right: auto;
  }
}

.lp_footer .flex {
  justify-content: center;
}
@media (min-width: 1041px) {
  .lp_footer .flex {
    gap: 20px;
  }
}
.lp_footer .flex:has(.lp_footer__tel) {
  align-items: flex-end;
}
@media (max-width: 760px) {
  .lp_footer .flex:has(.lp_footer__tel) {
    flex-direction: column;
  }
}
@media (max-width: 760px) {
  .lp_footer .flex {
    margin-top: 10px;
  }
}
.lp_footer__text, .lp_footer__tel, .lp_footer__close {
  line-height: 1;
}
@media (min-width: 1041px) {
  .lp_footer__text {
    font-size: var(--large-font);
  }
}
.lp_footer__tel {
  font-size: var(--x-large-font);
}
@media (max-width: 760px) {
  .lp_footer__tel {
    font-weight: bold;
  }
}
.lp_footer__tel {
  color: var(--primary-color);
}
.lp_footer__tel span {
  font-size: var(--x-large-font);
}
@media (max-width: 760px) {
  .lp_footer__tel span {
    font-size: var(--large-font);
  }
}
.lp_footer__time {
  color: var(--primary-color);
  font-size: var(--large-font);
}
@media (max-width: 760px) {
  .lp_footer__time {
    font-size: var(--small-font);
  }
}
.lp_footer__close {
  background-color: var(--primary-color);
  color: #fff;
  font-size: var(--medium-font);
  height: fit-content;
  padding: 10px 15px 12px;
}
@media (min-width: 1041px) {
  .lp_footer__close {
    margin-top: 10px;
  }
}
@media (max-width: 760px) {
  .lp_footer__close {
    padding: 5px;
    font-size: var(--small-font);
  }
}
.lp_footer__info {
  font-size: var(--small-font);
  text-align: center;
}
.lp_footer__copy {
  text-align: center;
  font-size: var(--small-font);
}
@media (max-width: 760px) {
  .lp_footer__copy {
    text-align: right;
  }
}/*# sourceMappingURL=uritai.css.map */